<!-- intentionally not html5 so vertical centering works -->
<head>
<title>on screen</title>
<style>
body {
  font-family: sans-serif;
}
#display {
  margin-bottom: 20px;
}
#caption {
  font-size: 150%;
}
</style>
</head>
<table width=100% height=100%><tr><td align=center valign=center>
<div id=display></div>
<div id=caption>posted by <span id=owner></span></div>
</td></tr></table>

<script>
if (!('JSON' in window)) {
  // Opera FFFFUUUUUU
  JSON = {
    parse: function(text) {
      return eval('(' + text + ')');
    }
  };
}

var cur_id = -1;

function display(state) {
  if ('id' in state) {
    if (state.id == cur_id)
      return;
    cur_id = state.id;
  }
  if ('url' in state) {
    document.getElementById('display').innerHTML =
      '<object width="480" height="385"><param name="movie" value="' + state.url + '"></param></object>';
    document.getElementById('owner').innerHTML = state.owner;

  } else if ('image' in state) {
    document.getElementById('display').innerHTML =
        '<img onload="setImageSize(this)" ' +
             'src="' + state.image + '?{{query}}" id="image">';
    document.getElementById('owner').innerHTML = state.owner;
    window.setTimeout(setImageSize, 0);
  } else {
    document.getElementById('display').innerHTML = 'no images :(';
    document.getElementById('owner').innerHTML = '';
  }
}
function setImageSize(image) {
  var kMaxWidth = 600;
  var kMaxHeight = 385;
  var widthScale = image.width / kMaxWidth;
  var heightScale = image.height / kMaxHeight;
  if (widthScale > 1 || heightScale > 1) {
    if (widthScale > heightScale) {
      image.width = kMaxWidth;
    } else {
      image.height = kMaxHeight;
    }
  }
}
function update() {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4) {
      if (xhr.status == 200)
        display(JSON.parse(xhr.responseText));
      scheduleUpdate();
    }
  }
  xhr.open('GET', '/json' + location.search, true);
  xhr.send();
}
function scheduleUpdate() {
  setTimeout(update, 3 * 1000);
}

display({{ json }});
if ({{cycle}})
  scheduleUpdate();
</script>
