{% extends "page.tmpl" %}

{% block body %}
<h1>new submission</h1>

<form method=post enctype=multipart/form-data>
<table><tr>
<td width=50% style='border-right: solid 1px black'>
<h2>image</h2>
<input name=image type=file><br>
</td>
<td width=50%>
<h2>url</h2>
<input name=url type=text><br>
</td></tr>
<input type=submit>
</tr></table>
</form>
{% endblock %}
